# Filtering GlobalLandTemperaturesByCity.csv

In [1]:
import pandas as pd

Loading the csv into a dataframe

In [6]:
temp_csv = open("GlobalLandTemperaturesByCity.csv")
global_temps = pd.read_csv(temp_csv)
global_temps

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
...,...,...,...,...,...,...,...
8599207,2013-05-01,11.464,0.236,Zwolle,Netherlands,52.24N,5.26E
8599208,2013-06-01,15.043,0.261,Zwolle,Netherlands,52.24N,5.26E
8599209,2013-07-01,18.775,0.193,Zwolle,Netherlands,52.24N,5.26E
8599210,2013-08-01,18.025,0.298,Zwolle,Netherlands,52.24N,5.26E
8599211,2013-09-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E

Paring global_temps down to just US temps

In [7]:
us_temps = global_temps.loc[global_temps.Country == "United States"].copy()
us_temps

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
47555,1820-01-01,2.101,3.217,Abilene,United States,32.95N,100.53W
47556,1820-02-01,6.926,2.853,Abilene,United States,32.95N,100.53W
47557,1820-03-01,10.767,2.395,Abilene,United States,32.95N,100.53W
47558,1820-04-01,17.989,2.202,Abilene,United States,32.95N,100.53W
47559,1820-05-01,21.809,2.036,Abilene,United States,32.95N,100.53W
...,...,...,...,...,...,...,...
8439242,2013-05-01,15.544,0.281,Yonkers,United States,40.99N,74.56W
8439243,2013-06-01,20.892,0.273,Yonkers,United States,40.99N,74.56W
8439244,2013-07-01,24.722,0.279,Yonkers,United States,40.99N,74.56W
8439245,2013-08-01,21.001,0.323,Yonkers,United States,40.99N,74.56W
8439246,2013-09-01,17.408,1.048,Yonkers,United States,40.99N,74.56W

Filtering out the Californian temperatures using city names and coordinates

In [16]:
cal_cities = """Jurupa Valley,
Eastvale,
Menifee,
Wildomar,
Rancho Cordova,
Goleta,
Aliso Viejo,
Elk Grove,
Rancho Santa Margarita,
Laguna Woods,
Oakley,
Citrus Heights,
Truckee,
Shasta Lake,
Windsor,
Buellton,
American Canyon,
Laguna Hills,
Lake Forest,
Yucca Valley,
Calabasas,
Malibu,
Chino Hills,
Murrieta,
Calimesa,
Canyon Lake,
Yucaipa,
Diamond Bar,
Laguna Niguel,
Temecula,
Lathrop,
Dana Point,
Apple Valley,
Mission Viejo,
Hesperia,
Santa Clarita,
Highland,
Twentynine Palms,
West Sacramento,
Encinitas,
Solana Beach,
Orinda,
Solvang,
Loomis,
West Hollywood,
Mammoth Lakes,
Moreno Valley,
East Palo Alto,
Moorpark,
San Ramon,
Agoura Hills,
Danville,
La Quinta,
Dublin,
Cathedral City,
Westlake Village,
Big Bear Lake,
Clearlake,
Poway,
Santee,
Paradise,
Avenal,
Atascadero,
Grand Terrace,
La Habra Heights,
Rancho Cucamonga,
Lancaster,
Lemon Grove,
La Canada Flintridge,
Marina,
Moraga,
Palm Desert,
Rancho Palos Verdes,
Rancho Mirage,
Hughson,
Irvine,
Foster City,
Adelanto,
Loma Linda,
Simi Valley,
Waterford,
Lafayette,
Carson,
Indian Wells,
Yorba Linda,
Scotts Valley,
South Lake Tahoe,
California City,
Carpinteria,
Yountville,
Rio Dell,
Norco,
Camarillo,
Hawaiian Gardens,
Morro Bay,
Portola Valley,
Thousand Oaks,
Lomita,
Tiburon,
Clayton,
Ridgecrest,
Desert Hot Springs,
Cotati,
San Marcos,
Vista,
Villa Park,
Victorville,
Rohnert Park,
Palmdale,
Brisbane,
Pleasant Hill,
Hidden Hills,
San Juan Capistrano,
Weed,
Bell Gardens,
Arvin,
Cudahy,
Sand City,
Temple City,
Farmersville,
San Dimas,
La Mirada,
Commerce,
Novato,
Los Alamitos,
Lawndale,
Grover Beach,
Del Mar,
Half Moon Bay,
Artesia,
Rosemead,
Union City,
Walnut,
South El Monte,
Pico Rivera,
Escalon,
Pacifica,
Rolling Hills Estates,
Norwalk,
Duarte,
Bradbury,
McFarland,
Industry,
Fountain Valley,
Irwindale,
Santa Fe Springs,
Monte Sereno,
Westminster,
Bellflower,
Paramount,
Rolling Hills,
Downey,
Woodside,
Saratoga,
Cypress,
Imperial Beach,
Garden Grove,
Montclair,
Cerritos,
Stanton,
Los Altos Hills,
Baldwin Park,
Fremont,
Anderson,
La Puente,
La Palma,
Cupertino,
Newark,
Seaside,
Lakewood,
Milpitas,
Costa Mesa,
Ione,
Del Rey Oaks,
Buena Park,
Carlsbad,
Fontana,
Campbell,
Los Altos,
Huron,
Capitola,
San Pablo,
Port Hueneme,
Brentwood,
Orange Cove,
Millbrae,
Barstow,
Greenfield,
Live Oak,
Gonzales,
Coachella,
Galt,
Portola,
Pismo Beach,
Folsom,
Guadalupe,
Kerman,
Wasco,
Ripon,
Mendota,
Woodlake,
Palos Verdes Estates,
Palm Springs,
Shafter,
Tulelake,
Dos Palos,
Westmorland,
Fairfax,
Gardena,
Indio,
San Clemente,
Menlo Park,
Tustin,
Bell,
Laguna Beach,
Belmont,
Placentia,
San Carlos,
La Habra,
Colma,
Signal Hill,
Maywood,
Atherton,
Chowchilla,
Isleton,
West Covina,
South Gate,
Hawthorne,
Livingston,
Riverbank,
Atwater,
Torrance,
Parlier,
Soledad,
Lynwood,
Ojai,
Montebello,
Williams,
San Joaquin,
Patterson,
Calipatria,
Manteca,
Ceres,
El Cerrito,
Plymouth,
Culver City,
Davis,
Brea,
El Segundo,
Carmel-by-the-Sea,
Corte Madera,
Blythe,
Monterey Park,
Gustine,
Seal Beach,
Delano,
Amador,
San Bruno,
Corcoran,
Walnut Creek,
Fillmore,
Firebaugh,
Beverly Hills,
Sutter Creek,
Needles,
Avalon,
Banning,
San Marino,
San Gabriel,
Reedley,
Sunnyvale,
Manhattan Beach,
El Cajon,
Beaumont,
El Monte,
Clovis,
La Mesa,
Angels Camp,
Chula Vista,
Rialto,
Glendora,
Arroyo Grande,
Sanger,
King City,
San Fernando,
Burbank,
Maricopa,
Perris,
Daly City,
Exeter,
Tracy,
Taft,
Hillsborough,
Blue Lake,
Chino,
Lindsay,
Colfax,
Hemet,
Orland,
Roseville,
Tehachapi,
Dunsmuir,
Huntington Beach,
Montague,
Dorris,
Point Arena,
Newman,
Albany,
South San Francisco,
Ross,
Inglewood,
Fowler,
Burlingame,
Brawley,
Kingsburg,
Calexico,
El Centro,
Turlock,
Yuba City,
Holtville,
Larkspur,
San Anselmo,
Los Banos,
Corning,
Madera,
Claremont,
Sierra Madre,
Piedmont,
Hermosa Beach,
Oakdale,
Morgan Hill,
La Verne,
Lodi,
Dinuba,
Upland,
Tehama,
Coalinga,
Oroville,
Glendale,
Fortuna,
Huntington Park,
Newport Beach,
Santa Maria,
Gridley,
Vernon,
Concord,
Richmond,
Mt. Shasta,
Jackson,
Imperial,
Fullerton,
Fairfield,
Alhambra,
Oxnard,
Biggs,
Pinole,
Pittsburg,
Bishop,
Arcadia,
Mountain View,
Porterville,
Sebastopol,
Santa Paula,
Alturas,
Loyalton,
Covina,
Hercules,
Susanville,
Lemoore,
Mill Valley,
Azusa,
Bakersfield,
Winters,
Whittier,
Long Beach,
Belvedere,
Emeryville,
Corona,
San Juan Bautista,
Pleasanton,
Rio Vista,
Palo Alto,
San Mateo,
Ferndale,
Sausalito,
Selma,
Grass Valley,
Rocklin,
Vacaville,
Redondo Beach,
Hanford,
Ontario,
Coronado,
Lincoln,
Monterey,
Paso Robles,
Fort Bragg,
Pacific Grove,
Merced,
Willits,
Compton,
Lake Elsinore,
Lompoc,
Escondido,
Orange,
Pomona,
Tulare,
Lakeport,
San Jacinto,
Redlands,
Oceanside,
Auburn,
South Pasadena,
Monrovia,
Colton,
Los Gatos,
National City,
Redding,
Santa Monica,
Pasadena,
Calistoga,
Willows,
Santa Ana,
Fresno,
Modesto,
Riverside,
Sonoma,
Berkeley,
Dixon,
Etna,
Hayward,
Ukiah,
Red Bluff,
St. Helena,
Anaheim,
Livermore,
Martinez,
Wheatland,
Salinas,
Visalia,
San Rafael,
Chico,
Antioch,
Hollister,
Napa,
San Leandro,
Fort Jones,
Cloverdale,
Woodland,
Gilroy,
Trinidad,
San Bernardino,
Suisun City,
Colusa,
Vallejo,
Watsonville,
Santa Rosa,
Redwood City,
Healdsburg,
Santa Cruz,
Ventura,
Petaluma,
Arcata,
Yreka,
Nevada City,
Eureka,
San Luis Obispo,
Placerville,
Alameda,
Crescent City,
Santa Clara,
Oakland,
Marysville,
Sonora,
Santa Barbara,
Stockton,
Los Angeles,
Benicia,
San Diego,
San Jose,
Sacramento,
San Francisco"""

cities_list = cal_cities.split(",\n")

In [17]:
cal_temps = pd.DataFrame(columns=global_temps.columns)
cal_temps

Empty DataFrame
Columns: [dt, AverageTemperature, AverageTemperatureUncertainty, City, Country, Latitude, Longitude]
Index: []

In [18]:
MIN_LAT = 32.533
MAX_LAT = 42.0
MIN_LONG = 114.133
MAX_LONG = 124.4

In [ ]:
us_temps["InCal"] = False

for i in us_temps.index:
    lat = float(us_temps["Latitude"][i][:-1])
    long = float(us_temps["Longitude"][i][:-1])

    if (lat > MIN_LAT and lat < MAX_LAT) and (long > MIN_LONG and long < MAX_LONG) and (us_temps["City"][i] in cities_list):
        us_temps["InCal"][i] = True

In [24]:
cal_temps = us_temps.loc[us_temps["InCal"] == True].copy()

In [23]:
cal_temps_csv = open("cal_temps.csv", "w")
cal_temps.to_csv(cal_temps_csv)